config_imap (
    server => "imap.example.com",
    username => "me-me-me",
    password => "Pa55WoRd",
    );

config_action_defaults (
    trash => 'Tidied', # Separate tidied messages from trash
    dryrun => 0, # Change to 1 to disable all actions
    keep => 2, # Change default for dedup
    );

# Check that expected recurring messages have been seen
config_action_check (search => 'SUBJECT "Cron <root@nas>" SUBJECT "echo hello" BODY "hello"',
		     since => '2 days ago',
		     min => 1,
		     warn => 'WARNING: No (%d) NAS hellos seen in last 2 days',
		     comment => 'Check NAS still alive');
# Tidy recurring mails
config_action_dedup (search => 'SUBJECT "Cron <root@nas>" SUBJECT "echo hello" BODY "hello" NOT FLAGGED NOT DELETED',
		     comment => 'Dedup NAS hello');
config_action_delete (search => 'FROM "MAILER-DAEMON@example.com" SUBJECT "Postfix SMTP server: errors from" BODY "Relay access denied" NOT FLAGGED NOT DELETED',
		      before => '2 days ago',
		      comment => 'SMTP relay denied');
#config_action_list (search => 'SUBJECT "Cron <root@nas> echo hello" NOT DELETED');
#config_action_expunge (dryrun => 1); # Disabled

#print Dumper \@config_actions;

1;
